<!DOCTYPE html>
<html>
<head>
    <title>{{path.name}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/static/image.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <a style="display:block;" href="#" onclick="fullsize()">View full size</a>
    <img id="img-content" src="data:{{mime}};base64,{{data}}">
</body>
</html>